In [2]:
import pandas as pd
df= pd.read_csv("textfile")
sat= input("Input Your SAT Score")
gpa= input("Input Your GPA")
maryland_df_sat= df.loc[df["sat"]>=1280]
maryland_df_gpa= df.loc[df["gpa"]>=3.2]

print("maryland")

maryland_df_sat.count()
maryland_df_gpa.count()

Input Your SAT Score1285
Input Your GPA3.3
maryland

gpa    2
sat    2
dtype: int64

            gpa          sat
count  5.000000     5.000000
mean   3.400000  1168.000000
std    0.689202   160.530371
min    2.800000  1020.000000
25%    2.900000  1030.000000
50%    3.000000  1120.000000
75%    4.100000  1290.000000
max    4.200000  1380.000000